---
import '../styles/global.css'
import UCCLogo from '../images/UCC_logo.png'
---
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <title>UCC | Inicio</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar" id="navbar">
                <a href="index.html">
                    <img style="width: 70px;" src={UCCLogo.src} alt="UCC Logo">
                </a>
                <div class="menu">
                    <a href="launches.html">Lanzamientos</a>
                    <a href="about.html">Sobre Nosotros</a>
                    <a href="contact.html">Contacto</a>
                </div>
            </nav>
            <div class="text fade-up">
                <p style="font-size:40px;font-weight: 700;left: 50px">PRIMER PROTOTIPO DE<br>LANZAMIENTO</p>
                <a href="tlv-1.html">
                    <button style="font-weight: 100;top: -50px" class="button fill-button" type="button">Más información</button>
                </a>
            </div>
        </header>
    </body>
</html>
